

body { 
    background-color: rgb(97, 8, 26);
}
#section1 {
    text-align: center;
    background-color: rgb(47, 73, 2);
    
}
section {
    text-align: center;
    background-color: darkolivegreen;
    color: gold;
    margin: 1em 1em;
    padding: 1em;
}

h1 {
    text-align: center;
    color: rgb(255, 0, 0);
}

h2 {
    color: rgb(250, 250, 250);
}

li {
    display: inline;
    color: rgb(255, 0, 0);
    background-color: black;
    border: solid red 1px;
    margin: 25px;
    text-align: center;
    padding: 3px 25px;
}